{% extends 'header.html' %}
{% block content %}
	<div class="row">
		<form method="POST">
				<div class="form-group">
				    <label for="art"><b>Put Your Article Here:</b></label>
				    {% if request.form.get("article") %}
				    <textarea class="form-control" id="art" rows="7" name="article" placeholder="Article..." required>{{request.form.get("article")}}</textarea>
				    {% else %}
				    <textarea class="form-control" id="art" rows="7" name="article" placeholder="Article..." required></textarea>
				    {% endif %}
				</div>
				<br>
			<div class="form-group col-md-7 offset-md-5">
				<p><b>Choose The Summarization Model:</b></p>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="model" id="ber" value="bert">
					<label class="form-check-label" for="ber">
				    	Bert Model
					</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="model" id="tt" value="t5" checked>
				  	<label class="form-check-label" for="tt">
				    	T5 Model
				  	</label>
				</div>
			</div>
				<div class="col-md-5 offset-md-6">
					<input type="submit" name="Submit" class="btn btn-primary">
				</div>
		</form>
	</div>
	<hr>
	<h6 class="col-md-7 offset-md-5">Summary of the Article:</h6>
	<div class="row border border-dark col-md-8 offset-md-2" style="background-color: white;">
		{% if summ %}
			{{summ}}
		{% else %}
			<small class="text-secondary">Summary of the article will be here...</small>
		{% endif %}
	</div>
{% endblock %}